.btn {
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.btn.btn-primary {
  margin-top: 30px;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn.btn-secondary {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  white-space: nowrap;
  color: var(--secondary-text-color);
  background-color: var(--secondary-btn-bgcolor);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
