.features {
  padding-bottom: 0;
}
.features-list {
  @extend .list;

  display: flex;

  &__item {
    width: 270px;
  }
  &__item + &__item {
    margin-left: 30px;
  }

  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
  }
}
